<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="maynooth.seefood.mapper.UserMapper">

    <insert id="insert">
        insert into user (userId, username, password, brief, avatar,money) value (#{userId},#{username},#{password},'Hello Seefood',#{avatar},2000);
    </insert>
    <update id="updateMoney">
        update user set money = #{money} where username=#{username}
    </update>
    <select id="selectUserByUserName" resultType="maynooth.seefood.pojo.PO.UserPO">
        select * from user where username=#{username}
    </select>
    <select id="getLike" resultType="maynooth.seefood.pojo.PO.SeafoodPO">
        select * from seafood where seafoodId in (select seafoodId from `like` where userId=#{userId});
    </select>

</mapper>
